{% extends 'base.html.twig' %}
{% block title %} Nouvelle publication {% endblock %}

{% block body %}

    <div class="row my-4 shadow-lg p-3 bg-white rounded" style="margin: auto; width: 50%">
        <h3 class="w-100" style="text-align: center"> Nouvelle publication </h3>
        {{ include('form/newPublication.html.twig', {'button_label': 'Publier'}) }}
    </div>
{% endblock %}