{% extends "base.html.twig" %}

{% block body %}
    <div class="container"><br>
        <h1 style="text-align: center">Bienvenue dans la section FAQ et Manuel d'utilisation</h1>
        <br><br>

        <div style="width: 100%; margin: 0 auto;  height: 632px; text-align: center; float: left; display: inline; margin-left: -25%; border-radius: 10px;" >

            <div class="p-3 shadow p-3 mb-5 bg-white" style="width: 40%; margin: 0 auto; height: 300px; text-align: center; border-radius: 10px" >
                <h3><b>Comment s'inscrire ?</b></h3><br>
                <h5>Cliquer sur le bouton "S'inscrire", puis choisir entre s'inscrire avec Google, Facebook, ou une adresse mail (où il faut valider le compte depuis le mail reçu sur votre boite mail).</h5>
            </div>

            <br><br>

            <div class="p-3 shadow p-3 mb-5 bg-white" style="width: 40%; margin: 0 auto; height: 300px; text-align: center; border-radius: 10px" >
                <h3><b>Comment se connecter ?</b></h3><br>
                <h5>Cliquer sur le bouton "Se connecter", puis choisir entre se connecter avec Google, Facebook, ou une adresse mail.</h5>
            </div>

            <br><br>

            <div class="p-3 shadow p-3 mb-5 bg-white" style="width: 40%; margin: 0 auto; height: 300px; text-align: center; border-radius: 10px" >
                <h3><b>Faire une publication</b></h3><br>
                <h5>En étant connecté, il faut cliquer sur le bouton "Publier". Dans votre publication vous pouvez inclure une description, une photo, des tags, et une musique. Les publications vous permettent d'exprimer vos goûts musicaux et échanger avec les autres utilisateurs.</h5>
            </div>

            <br><br>

            <div class="p-3 shadow p-3 mb-5 bg-white" style="width: 40%; margin: 0 auto; height: 300px; text-align: center; border-radius: 10px" >
                <h3><b>Liker / Disliker</b></h3><br>
                <h5>Chaque publication comporte les fonctionnalités like/dislike, qui permettent d'évaluer ces publications.</h5>
            </div>

            <br><br>

            <div class="p-3 shadow p-3 mb-5 bg-white" style="width: 40%; margin: 0 auto; height: 300px; text-align: center; border-radius: 10px" >
                <h3><b>Suivre des utilisateurs</b></h3><br>
                <h5>Suivre un utilisateur permet d'avoir chaque nouvelle publication de cet utilisateur dans votre fil d'actualité.</h5>
            </div>

        </div>

        <br><br>

        <div style="width: 100%; margin: 0 auto;  height: 632px; text-align: center; float: right; display: inline; margin-right: -25%;margin-top: -57%; border-radius: 10px" >

            <div class="p-3 shadow p-3 mb-5 bg-white" style="width: 40%; margin: 0 auto; height: 300px; text-align: center; border-radius: 10px" >
                <h3><b>Système de recherche</b></h3><br>
                <h5>Grâce à la fonctionnalité de recherche, vous pouvez trouver les comptes et/ou les publications qui vous plaisent, et ainsi développer votre fil d'actualité.</h5>
            </div>

            <br><br>

            <div class="p-3 shadow p-3 mb-5 bg-white" style="width: 40%; margin: 0 auto; height: 300px; text-align: center; border-radius: 10px" >
                <h3><b>Signaler une publication</b></h3><br>
                <h5>Si une publication vous semble indésirable/offensante, vous avez la possibilité de signaler la publication. L'administrateur va alors recevoir une alerte instantanément afin d'analyser la publication et prendre une décision.</h5>
            </div>

            <br><br>

            <div class="p-3 shadow p-3 mb-5 bg-white" style="width: 40%; margin: 0 auto; height: 300px; text-align: center; border-radius: 10px" >
                <h3><b>Que faire en cas d'oubli de mot de passe ?</b></h3><br>
                <h5>Il est possible de changer de mot de passe si vous l'avez oublié, en cliquant sur "mot de passe oublié" depuis la page de connexion. Un lien de réinitialisation de mot de passe vous sera envoyé par mail.</h5>
            </div>

            <br><br>

            <div class="p-3 shadow p-3 mb-5 bg-white" style="width: 40%; margin: 0 auto; height: 300px; text-align: center; border-radius: 10px" >
                <h3><b>Comment modifier mes informations personnelles en cas d'erreur ?</b></h3><br>
                <h5>En cliquant sur "Mon compte -> Informations personnelles", vous avez la possiblité de mettre à jour vos informations personnelles, et modifier par la même occasion la thème du site si vous en avez l'envie.</h5>
            </div>

            <br><br>

            <div class="p-3 shadow p-3 mb-5 bg-white" style="width: 40%; margin: 0 auto; height: 300px; text-align: center; border-radius: 10px" >
                <h3><b>Autres questions / remarques ?</b></h3><br>
                <h5>Si vous avez d'autres questions, n'hésitez pas à nous contacter à l'adresse mail "socialmusic25@gmail.com" en précisant votre demande.</h5>
            </div>

        </div>

        <br><br>
    </div>

{% endblock %}