{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %} Modifier les informations personnelles - Social Music {% endblock %}

{% block body %}

    <div class="row mx-5 my-3 shadow-lg p-3 bg-white rounded">
        <h3 class="w-100"> Modifier vos informations personnelles </h3>
        {{ include('form/editUser.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
